<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UX Living Lab</title>
</head>
<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:100px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0">
          <div style="border-bottom:1px solid #eee">
            <a href="#" style="font-size:1.2em;color: #00466a;text-decoration:none;font-weight:600">Dowell UX Living Lab</a>
          </div>
          <p style="font-size:1.1em">Hi {},</p>
          <p>Your UX Living Lab account has been created successfully. The account details are :</p>
          <ul>
            <li>First Name : {}</li>
            <li>Last Name : {}</li>
            <li>Username : {}</li>
            <li>Phone : {} {}</li>
            <li>Email : {} {}</li>
            <li>User Type : {}</li>
            <li>Country : {}</li>
          </ul>
          <p>Login to UX Living Lab to use your workspace. Watch this video to learn more.</p>
          <a href="https://www.youtube.com/embed/videoseries?list=PLa-BPmUzAKKfVgomvrIsWd9ZGQFTiT0Xb"><button style="background-color: greenyellow; border:1px solid rgb(135, 255, 135);padding:10px; border-radius: 8px;">Watch YouTube Video</button></a>
          <p style="font-size:0.9em;">Regards,<br />Dowell UX Living Lab</p>
          <hr style="border:none;border-top:1px solid #eee" />
        </div>
      </div>
</body>
</html>